
<table class="table table-striped" id="employeeTable">
    <thead>
        <tr>
            <th>EmpId</th>
            <th>Name</th>
            <th>Age</th>
            <th>EmailAddress</th>
            <th>DeptName</th>
            <th>Location</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>


@section scripts{
    <script>
        $(document).ready(function () {
           var $empDataTable = $('#employeeTable').DataTable({
                ajax: {
                    url: 'Employee/GetEmployees',
                    dataSrc:
                        function (data) {
                            return data;
                        }
                },
                columns: [
                    {
                        "data": "EmployeeId"
                    },
                    {
                        "data": "FullName"
                    }, {
                        "data": "Age"
                    }, {
                        "data": "EmailAddress"
                    }, {
                        "data": "DepartmentName"
                    }, {
                        "data": "Location"
                    }, {
                        "data": null,
                        "render": function (data, type, full) {
                            return "<button class='btn btn-xs btn-info js-edit-employee' data-employee-id="+full.EmployeeId+">Edit</button>" + 
                                "<button class='btn btn-xs btn-danger js-delete-employee' data-employee-id=" + full.EmployeeId +">Delete</button>" 

                        }
                    }
                ]
            });
            //$('.js-save-data').on('click', function (e) {
            //    e.preventDefault();
            //    var formData = {
            //        name: $('input[name="name"]').val(),
            //        phoneNumbers: []
            //    };

            //    $('input[name="phoneNumber"]').each(function (i,el) {
            //        formData.phoneNumbers.push($(el).val());
            //    });

            //    $.ajax({
            //        url: "Employee/SaveCustomEmployee",
            //        method: "POST",
            //        data: formData,
            //        success: function (result) {
            //            console.log(result);
            //            $button.parents('tr').remove();
            //            alert(result);
            //        },
            //        error: function (error) {
            //            console.log(error);
            //            alert("Sorry ! Unable to delete employee");
            //        }
            //    });

            //});


            $('body').on('click','.js-delete-employee', function (e) {
                e.preventDefault();
                var $button = $(this);

                var employeeId = $button.data("employee-id");
                $.ajax({
                    url: "Employee/DeleteEmployee",
                    method: "POST",
                    data: { employeeId: employeeId },
                    success: function (result) {
                        console.log(result);
                        //$button.parents('tr').remove();
                        alert(result);
                        $empDataTable.ajax.reload();
                    },
                    error: function (error) {
                        console.log(error);
                        alert("Sorry ! Unable to delete employee");
                    }
                });
            });
        });
    </script>
}